:root {
    --transition: all 0.3s;
/* забыл про переменные :( */
}

html {
    scroll-behavior: smooth;

}


body {
    background: #191b20;
    font-family: "Muller", sans-serif;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.main {
    flex-grow: 1;
    position: relative;
}

.container {
    max-width: 1848px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    max-width: 277px;
}

.logo img {
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 25px 30px;
    border-radius: 60px;
    color: #000;
    background: linear-gradient(93deg, #ea422a 0%, #f69020 48.58%, #ffc619 101.38%);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    transition: var(--transition);
}

.button:hover {
    box-shadow: 0 0 20px #f69020;
}

.button--transparent,
.button--white {
    width: 204px;
}

.button--transparent {
    background: none;
    border: 1px solid #393c43;
    color: #fff;
}

.button--transparent:hover {
    background: #393c43;
    box-shadow: 0px 0px 20px #393c43;
}

.button--white {
    background: #fff;
}

.button--white:hover {
    box-shadow: 0px 0px 20px #fff;
}

/* ===== DECOR ========================================================================= */
.decor {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.decor__list {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.decor__item {
    width: 100%;
    height: 100%;
}

.decor__item-one,
.decor__item-five {
    max-width: 204px;
}

.decor__line {
    width: 1px;
    height: 100%;
    background: #ffffff;
    opacity: 0.1;
}


/* ========== MODAL ======================================= */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #393c4367;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: var(--transition) ease;
    z-index: 9999;
    padding: 20px;
}

.body-modal--opened .modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    overflow: hidden;

}

.body-modal--opened {
    overflow: hidden;
}

.modal__window {
    background: #000;
    padding: 30px 40px;
    border-radius: 5px;
    max-width: 90%;
    width: 500px;
    margin: auto;
}

.modal--active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.modal__logo {
    max-width: 140px;
}

.modal__logo img {
    width: 100%;
}

.modal__exit {
    font-size: 30px;
}


.modal__text {
    text-align: center;
    margin-bottom: 20px;
}

.modal__title {
font-size: clamp(20px, 2.5vw, 42px);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    margin-bottom: 25px;
}

.modal__sub-title {
    font-size: clamp(15px, 2.5vw, 18px);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 1.4;
    max-width: 550px;

}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.modal__input {
    height: 40px;
    background: transparent;
    border: 1px solid #f69020;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
}

.modal__input {
    color: #fff;
}

.modal__button {
    max-width: 277px;
}


.modal__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    max-width: fit-content;
}

.modal__tg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: #f69020;
    border-radius: 100%;
}