:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ===================== header-top ==================================== */
.header {
    padding-top: 20px;
    background: url(../img/decor/bg-header.png) 50% 50% / cover no-repeat;
}

.header__top {
    min-height: 60px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 173px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}



/* .nav {} */

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {
    position: relative;
    z-index: 5;
}

.nav__link {
    display: block;
    padding: 5px 0;
}

.nav__link::before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -10px;
    opacity: 0;
    transition: all .5s;
}

.nav__link:hover::before {
    opacity: 1;
}

/* ============= burger ================================================ */

.burger-icon {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    width: 30px;
    height: 3px;
    background: var(--general-text);
    border-radius: 100px;
    display: block;
    transition: all .5s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';

    position: absolute;
}

.burger-icon span::after {
    top: -8px;
}

.burger-icon span::before {
    bottom: -8px;
}

/* ==================== X =================================== */
.body--opened-menu .burger-icon span,
.body--opened-menu .burger-icon span::before {
    transform: rotate(60deg);
    background: var(--general-bg);
}

.body--opened-menu .burger-icon span::before {
    bottom: 0;
}

.body--opened-menu .burger-icon span::after {
    top: 0;
    opacity: 0;
}


/* ==================== hero ===================================== */
.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    position: relative;
    display: flex;
    gap: 15px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #B197B2;
    margin-bottom: 20px;
}

.hero__info span:not(:last-child)::after {
    content: '';
    display: inline-block;
    position: absolute;
    margin: 11px 0 0 6px;
    width: 4px;
    height: 4px;
    background: #B197B2;
    border-radius: 50%;
}

.hero__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}


.hero__button {
    max-width: 358px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 36px;
    background: var(--accent-color);
    border-radius: 100px;
    font-weight: 500;
    line-height: 1.6;
    transition: all .5s;
}

.button:hover {
    background: #FF9138;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    pointer-events: none;
    width: 100%;
}

.hero__img-conrol {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    text-align: left;
}

.hero__img-conrol--mobil {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);

    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ====================================================== */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-conrol {
        position: static;
        min-width: 20;
    }
}

@media (max-width: 900px) {
    .body--opened-menu .nav {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
    }


    .nav {
        overflow: hidden;
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 100px 15px 30px;
        background: #AB8261;
        color: var(--general-bg);
        font-size: 3.5vh;
        opacity: 0;
        transition: all .5s;
        transform: translateY(-100%);
        visibility: hidden;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 800px) {
    .hero__inner {
        text-align: center;
        justify-content: center;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-conrol--mobil {
        margin: 0 0 30px 0;
        display: flex;
    }
}

@media (max-width: 600px) {
.hero {
    padding-bottom: 80px;
}
    .hero__title {
        font-size: 12vw;
    }
}
